:root {
    --block-item-bwidth : 2px;
    --block-menu-width : 10vw;
    --next-img-width : 1em;
}

#block-menu {
    position : absolute;
    background : dimgray;
    width : var(--block-menu-width);
    height : 20em;
    left : calc(var(--x, 0) * 1px);
    top : calc(var(--y, 0) * 1px);
}

#block-menu::-webkit-scrollbar {
    display : none;
}

.block-item {
    width : 100%;
    height : 1em;
    color : lightgray;
    background : dimgray;
    border-bottom : solid var(--block-item-bwidth) black;
    display : flex;
    flex-direction : row;
    align-content : space-between;
}

.block-item > span {
    padding-left : 2px;
    width : calc(var(--block-menu-width) - var(--next-img-width));
}

.block-item > .next-img {
    width : var(--next-img-width);
    height : var(--next-img-width);
    vertical-align : middle;
}

.block-item.active {
    background : lightgray;
    color : dimgray;
}

.block-container {
    position : absolute;
    left : calc(var(--x, 0) * 1px);
    top : calc(var(--y, 0) * 1px);
    background : lightgray;
    height : 3em;
    width : var(--w, 20vw);
    border : solid gray 2px;
    border-radius : 2px;
}

.block-container > .block-title {
    position : absolute;
    top : 0px;
    left : 0px;
    /* left : calc(var(--x, 0) * 1px);
    top : calc(var(--y, 0) * 1px); */
    /* width : fit-content; */
    width : inherit;
    height : calc(1em + 2px);
    text-align : center;
    background : dimgray;
    border-bottom : solid gray 2px;
}

.io-type-circle {
    width : var(--r, 5vw);
    height : var(--r, 5vw);
    clip-path : circle(50% at 50% 50%);
}

.io-type-circle-inner {
    width : inherit;
    height : inherit;
    clip-path : circle(40% at 50% 50%);
    /* background-color: transparent !important; */
}