:root {
    --side-width : 25vw;
    --side-height : 25vh;
    --block-item-height : 7.5vh;
    --block-item-bwidth : 2px;
}

#block-sidebar {
    position : absolute;
    left : 0px;
    top : 0px;
    width : var(--side-width);
    height : var(--side-height);
    border-color : black;
    border-style : solid;
    border-width : 0px;
    border-right-width : 1px;
    border-bottom-width : 1px;
    overflow-y : scroll;
}

.block-item {
    width : calc(var(--side-width) - var(--block-item-bwidth) * 2);
    height : calc(var(--block-item-height) - var(--block-item-bwidth) * 2);
    border : solid black var(--block-item-bwidth);
    overflow-y : scroll;
}

.block-item-desc {
    position : relative;
    left : 0px;
    bottom : 0px;
    overflow-y : scroll;
    word-break : break-all;
    width : 100%;
    height : 20%;
}

.block-item-name {
    position : relative;
    left : 0px;
    top : 0px;
}

.block-item > .block-item-cata {
    position : absolute;
    right : 0px;
    top : 0px;
    text-align : right;
}